* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header ul {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin-left: 25px;
}

/* remove the underline*/
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*first <section> in <main> */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background: url("../images/digital-marketing-meeting.jpg") center center /cover;
}

/* to align image left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/* to align image right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*first section*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*sub-sections(search-engine-optimization,
online-reputation-management, social-media-marketing)
 in section1*/
.content figure {
    margin-bottom: 20px;
    padding: 50px;
    height: 326px; /*changed from 300 to 326 to align the bottom of 2 sections*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content img {
    max-height: 200px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* <aside> */
.benefits {
    margin-right: 20px;
    padding: 20px;
    /* clear: both; */
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*sub-sections(lead,brand,cost) in benefits*/
.benefits figure {
    margin-bottom: 32px;
    color: #ffffff; 
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
@media screen and (max-width:1200px){
    nav{
        clear:both;
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:900px){ 
    .hero{
        height: 100vh;
        width: 92vw;
        margin: 20px;
    }
    .content{
        width:95%;
        margin-right: 20px;
    }
    .benefits{
        width: 95%;
        margin-left: 20px;
    } 
}
@media screen and (max-width:680px){
    .content figure{
    height: 500px;
    }
} 